.App {
  text-align: center;
}

.Stavka {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 350px;
  width: 200px;
  margin-right: 10px;
  margin: 10px;
}

.btn {
  height: 60px;
  width: 60px;
  margin-left: 25px;
  margin-right: 15px;
   border-radius: 5px;
   background-color:azure;
}
.btn :hover{
  background-color: aquamarine;
  height: 35px;
  width: 35px;
}
h4{
min-height: 115px;

}

.StavkaNaslov {
  font-size: 1.5rem;
  margin: 0;
}

.StavkaCena {
  font-size: 1rem;
  margin: 8px 0;
}

.StavkeBody {

  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 1000px;

}
.NavigacioniBody{

  background-color: #f0f0f0;
  font-size: xx-large;
  align-items: center;
  padding-left: 50px;

  padding-right: 30px;
}
  .KorpaNav{
    display: flex;
    flex-wrap: wrap;

  }
  .StavkeBodyKorpa {

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 500px;
  
  }
 .StavkaKorpa{
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 450px;
  width: 200px;
  margin-right: 10px;
  margin: 10px;
 }